<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国领先的企业互联网服务商</title>
	<meta name="description" content="重新定义互联网产品设计与开发 UE交互设计 UI界面设计 APP开发 网站开发 小程序开发" />
	<meta name="Keywords" content="设计,UI设计,UE设计,互联网产品设计,APP设计,原型设计,交互设计,用户研究,需求分析,微信活动,APP开发,网站开发,互联网开发,移动互联网,互联网+,设计外包,网站设计,微信小程序开发,微信应用号" />
    <link href="css/webapp.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="header">
		<div class="w1000">
			<a href="index" class="logo"></a>
			<div class="nav">
				<a href="index">首页</a>
				<a href="ue">交互</a>
				<a href="service">服务</a>
				<a href="case">案例</a>
				<a href="about" class="current">关于</a>
			</div>
		</div>
	</div>
	<p style="height: 80px;"></p>
	<div class="banner">
		<img src="img/banner_04.jpg" width="100%" />
		<p style="margin-top: 40px; padding: 0 2%; text-align: left;">北京云族佳科技有限公司是一家专门从事APP开发、游戏开发、网站建设以及UI设计的公司，成立于2013年成立，截止2016年初，企业内员工近200人。坚持“通过互联网服务提升人类生活品质”的理念，以“为追求完美的行业解决方案”为目标，布局移动互联网，以雄厚的技术实力为依托，创建了互联网设计和开发的专业平台及互联网项目开发团队。期间曾为通用、NIKE 、中国农业银行、太平洋保险等众多世界500强企业及政府部门提供专业服务，深获合作伙伴的信任及业内好评。</p>
		<img src="img/bg04.jpg" style="margin-top: 60px;" />
	</div>
	<div class="itembox">
		<h2>工作机会</h2>
		<p class="desc">我们不离不弃，我们不遗余力</p>
		<div class="list9 w1000">
			<dl>
				<dt>北京</dt>
				<dd>
					<p>网页设计师<br>Flash设计师<br>App设计师<br>UI设计师<br>平面设计师<br>美术设计师<br>广告设计师</p>
					<a href="" class="more">+more...</a>
				</dd>
			</dl>
			<dl>
				<dt>上海</dt>
				<dd>
					<p>网页设计师<br>Flash设计师<br>App设计师<br>UI设计师<br>平面设计师<br>美术设计师<br>广告设计师</p>
					<a href="" class="more">+more...</a>
				</dd>
			</dl>
			<dl>
				<dt>深圳</dt>
				<dd>
					<p>网页设计师<br>Flash设计师<br>App设计师<br>UI设计师<br>平面设计师<br>美术设计师<br>广告设计师</p>
					<a href="" class="more">+more...</a>
				</dd>
			</dl>
		</div>
		<img src="img/map.jpg.png" style="margin-top: 65px;" />
	</div>
	<div class="footer" id='footer'>
	</div>
	<script>
		/*function XHR() {
		var xhr;
		try {xhr = new XMLHttpRequest();}
		catch(e) {
			var IEXHRVers =["Msxml3.XMLHTTP","Msxml2.XMLHTTP","Microsoft.XMLHTTP"];
			for (var i=0,len=IEXHRVers.length;i< len;i++) {
				try {xhr = new ActiveXObject(IEXHRVers[i]);}
				catch(e) {continue;}
			}
		}
		return xhr;
	}var xhr = XHR();
xhr.open("get","/footer.html",true);

xhr.onreadystatechange = callback;
function callback() {
		if (xhr.readyState == 4  && xhr.status ==200) {
			document.getElementById('footer').innerHTML = xhr.responseText;
		}
	}

xhr.send(null);*/
	</script>
</body>
</html>
