<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国领先的企业互联网服务商</title>
	<meta name="description" content="重新定义互联网产品设计与开发 UE交互设计 UI界面设计 APP开发 网站开发 小程序开发" />
	<meta name="Keywords" content="设计,UI设计,UE设计,互联网产品设计,APP设计,原型设计,交互设计,用户研究,需求分析,微信活动,APP开发,网站开发,互联网开发,移动互联网,互联网+,设计外包,网站设计,微信小程序开发,微信应用号" />
    <link href="css/webapp.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
		<div class="w1000">
			<a href="index" class="logo"></a>
			<div class="nav">
				<a href="index">首页</a>
				<a href="ue">交互</a>
				<a href="service">服务</a>
				<a href="case" class="current">案例</a>
				<a href="about">关于</a>
			</div>
		</div>
	</div>
	<p style="height: 80px;"></p>
	<div class="itembox bg2" style="padding: 0;">
		<div class="list2" style="margin: 0; background-color: #404041;">
			<ul style="background-color: #00396a;">
				<li style="background-image: url('img/b_01.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_01.png');"></div>
				</li>
				<li style="background-image: url('img/b_02.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_02.png');"></div>
				</li>
				<li style="background-image: url('img/b_03.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_03.png');"></div>
				</li>
				<li style="background-image: url('img/b_04.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_04.png');"></div>
				</li>
				<li style="background-image: url('img/b_05.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_05.png');"></div>
				</li>
				<li style="background-image: url('img/b_06.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_06.png');"></div>
				</li>
				<li style="background-image: url('img/b_07.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_07.png');"></div>
				</li>
				<li style="background-image: url('img/b_08.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_08.png');"></div>
				</li>
				<li style="background-image: url('img/b_09.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_09.png');"></div>
				</li>
				<li style="background-image: url('img/b_10.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_10.png');"></div>
				</li>
				<li style="background-image: url('img/b_11.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_11.png');"></div>
				</li>
				<li style="background-image: url('img/b_12.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_12.png');"></div>
				</li>
				<li style="background-image: url('img/b_13.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_13.png');"></div>
				</li>
				<li style="background-image: url('img/b_14.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_14.png');"></div>
				</li>
				<li style="background-image: url('img/b_15.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_15.png');"></div>
				</li>
				<li style="background-image: url('img/b_16.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_16.png');"></div>
				</li>
				<li style="background-image: url('img/b_17.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_17.png');"></div>
				</li>
				<li style="background-image: url('img/b_18.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_18.png');"></div>
				</li>
				<li style="background-image: url('img/b_19.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_19.png');"></div>
				</li>
				<li style="background-image: url('img/b_20.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_20.png');"></div>
				</li>
				<li style="background-image: url('img/b_21.png');">
					<img src="img/blank.png" width="100%" />
					<div class="tip" style="background-image: url('img/b_21.png');"></div>
				</li>
			</ul>
		</div>
	</div>
<div class="footer" id='footer'>
        </div>
        <script>
               /* function XHR() {
                var xhr;
                try {xhr = new XMLHttpRequest();}
                catch(e) {
                        var IEXHRVers =["Msxml3.XMLHTTP","Msxml2.XMLHTTP","Microsoft.XMLHTTP"];
                        for (var i=0,len=IEXHRVers.length;i< len;i++) {
                                try {xhr = new ActiveXObject(IEXHRVers[i]);}
                                catch(e) {continue;}
                        }
                }
                return xhr;
        }var xhr = XHR();
xhr.open("get","/footer.html",true);

xhr.onreadystatechange = callback;
function callback() {
                if (xhr.readyState == 4  && xhr.status ==200) {
                        document.getElementById('footer').innerHTML = xhr.responseText;
                }
        }

xhr.send(null);*/
        </script>
</body>
</html>
