<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>中国领先的企业互联网服务商</title>
	<meta name="description" content="重新定义互联网产品设计与开发 UE交互设计 UI界面设计 APP开发 网站开发 小程序开发"/>
	<meta name="Keywords"
	      content="设计,UI设计,UE设计,互联网产品设计,APP设计,原型设计,交互设计,用户研究,需求分析,微信活动,APP开发,网站开发,互联网开发,移动互联网,互联网+,设计外包,网站设计,微信小程序开发,微信应用号"/>
	<link href="css/webapp.css" rel="stylesheet" type="text/css"/>
	<link href="css/swiper.min.css" rel="stylesheet" type="text/css"/>
	<script>

		var isAndroid = (/android/gi).test(navigator.appVersion);
		var isiPhone = (/iphone|ipad/gi).test(navigator.appVersion);
		if (isAndroid || isiPhone) {
			location.replace('mobile');
		}
	</script>
</head>
<body>
<div class="header">
	<div class="w1000">
		<a href="index" class="logo"></a>
		<div class="nav">
			<a href="index" class="current">首页</a>
			<a href="ue">交互</a>
			<a href="service">服务</a>
			<a href="case">案例</a>
			<a href="about">关于</a>
		</div>
	</div>
</div>
<p style="height: 80px;"></p>
<div class="flash swiper-container" id="flash">
	<article class="swiper-wrapper">
		<figure class="swiper-slide">
			<img src="img/BANNER1.jpg" width="100%"/>
		</figure>
		<figure class="swiper-slide">
			<img src="img/BANNER2.jpg" width="100%"/>
		</figure>
		<figure class="swiper-slide">
			<img src="img/BANNER3.jpg" width="100%"/>
		</figure>
		<figure class="swiper-slide">
			<img src="img/BANNER4.jpg" width="100%"/>
		</figure>
	</article>
	<span onclick="app.modal.open('modal')" class="yuyue">
			<i>免费预约</i>
		</span>
	<nav class="swiper-pagination float-pagination" id="flash-pagination"></nav>
</div>

<div class="itembox bg1">
	<h2>让开发更加简单</h2>
	<p class="desc">我们专业.专注.极致.口碑</p>
	<div class="list1 w1000">
		<dl>
			<dt>
				<img src="img/i_01.png"/>
			</dt>
			<dd>
				<h3>专业<br>~</h3>
				<p>基于云计算理念和技术<br>的平台架构与流程设计</p>
			</dd>
		</dl>
		<dl>
			<dt>
				<img src="img/i_02.png"/>
			</dt>
			<dd>
				<h3>专注<br>~</h3>
				<p>专注于互联网的特色<br>专注于众包形式的云工作实现</p>
			</dd>
		</dl>
		<dl>
			<dt>
				<img src="img/i_03.png"/>
			</dt>
			<dd>
				<h3>极致<br>~</h3>
				<p>极致的云工作用户体验<br>以核心价值的打造为策略中心</p>
			</dd>
		</dl>
		<dl>
			<dt>
				<img src="img/i_04.png"/>
			</dt>
			<dd>
				<h3>口碑<br>~</h3>
				<p>从用户价值出发，为用<br>户价值服务，无用户，不口碑！</p>
			</dd>
		</dl>
	</div>
</div>

<div class="itembox bg2">
	<h2>多做一点、做的好一点</h2>
	<p class="desc">我们专业.专注.极致.口碑</p>
	<div class="list2">
		<ul class="clearfix">
			<li style="background-image: url('img/b_01.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_01.png');"></div>
			</li>
			<li style="background-image: url('img/b_02.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_02.png');"></div>
			</li>
			<li style="background-image: url('img/b_03.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_03.png');"></div>
			</li>
			<li style="background-image: url('img/b_04.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_04.png');"></div>
			</li>
			<li style="background-image: url('img/b_05.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_05.png');"></div>
			</li>
			<li style="background-image: url('img/b_06.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_06.png');"></div>
			</li>
			<li style="background-image: url('img/b_07.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_07.png');"></div>
			</li>
			<li style="background-image: url('img/b_08.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_08.png');"></div>
			</li>
			<li style="background-image: url('img/b_09.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_09.png');"></div>
			</li>
			<li style="background-image: url('img/b_10.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_10.png');"></div>
			</li>
			<li style="background-image: url('img/b_11.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_11.png');"></div>
			</li>
			<li style="background-image: url('img/b_12.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_12.png');"></div>
			</li>
			<li style="background-image: url('img/b_13.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_13.png');"></div>
			</li>
			<li style="background-image: url('img/b_14.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_14.png');"></div>
			</li>
			<li style="background-image: url('img/b_15.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_15.png');"></div>
			</li>
			<li style="background-image: url('img/b_16.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_16.png');"></div>
			</li>
			<li style="background-image: url('img/b_17.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_17.png');"></div>
			</li>
			<li style="background-image: url('img/b_18.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_18.png');"></div>
			</li>
			<li style="background-image: url('img/b_19.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_19.png');"></div>
			</li>
			<li style="background-image: url('img/b_20.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_20.png');"></div>
			</li>
			<li style="background-image: url('img/b_21.png');">
				<img src="img/blank.png" width="100%"/>
				<div class="tip" style="background-image: url('img/b_21.png');"></div>
			</li>
		</ul>
	</div>
</div>

<div class="itembox">
	<h2>累计超过50家品牌用户</h2>
	<p class="desc">资深项目经理全程跟进，为您的项目保驾护航</p>
	<img src="img/links.jpg" class="links"/>
</div>

<div class="footer" id='footer'>
</div>
<script>
	/*function XHR() {
		var xhr;
		try {
			xhr = new XMLHttpRequest();
		}
		catch (e) {
			var IEXHRVers = ["Msxml3.XMLHTTP", "Msxml2.XMLHTTP", "Microsoft.XMLHTTP"];
			for (var i = 0, len = IEXHRVers.length; i < len; i++) {
				try {
					xhr = new ActiveXObject(IEXHRVers[i]);
				}
				catch (e) {
					continue;
				}
			}
		}
		return xhr;
	}

	var xhr = XHR();
	xhr.open("get", "/footer.html", true);

	xhr.onreadystatechange = callback;

	function callback() {
		if (xhr.readyState == 4 && xhr.status == 200) {
			document.getElementById('footer').innerHTML = xhr.responseText;
		}
	}

	xhr.send(null);*/
</script>
<div class="mask" id="modal">
	<div class="content clearfix">
		<span class="close" onclick="app.modal.close('modal')"></span>
		<h3>填写相关信息</h3>
		<ul>
			<li>
				<input type="text" id="nickname" class="inputbox" maxlength="20" placeholder="输入您的昵称"/>
			</li>
			<li>
				<input type="text" id="cellPhone" class="inputbox" maxlength="11" placeholder="输入您的手机号码"/>
			</li>
			<li>
				<select class="inputbox selectbox" id="business">
					<option value="0">请选择产品所属行业</option>
					<option value="电子商务">电子商务</option>
					<option value="金融">金融</option>
					<option value="制造业">制造业</option>
					<option value="医疗">医疗</option>
					<option value="教育">教育</option>
					<option value="文化娱乐">文化娱乐</option>
					<option value="旅游">旅游</option>
					<option value="生活服务">生活服务</option>
					<option value="其他（企业服务等）">其他（企业服务等）</option>
				</select>
			</li>
		</ul>
		<h3>请选择您需要的产品类型</h3>
		<div class="checkbox" id="projectType">
			<span class="current">APP</span>
			<span>网站</span>
			<span>微信</span>
			<span>其他</span>
		</div>
		<textarea class="areatext" id="comment" placeholder="备注：如果您有其他要求或者备注说明可在这里告诉我们哦～"></textarea>
		<span class="btn" onclick="app.submitOrder('pc')">立即预约</span>
	</div>
</div>
<script src="js/zepto.js"></script>
<script src="js/swiper.js"></script>
<script src="js/webapp.js"></script>
<script>
	var flash = new Swiper('#flash', {
		pagination: '#flash-pagination',
		loop: true,
		autoplay: 5000,
		autoplayDisableOnInteraction: false
	})
</script>
</body>
</html>
