<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="misapplication-tap-highlight" content="no" />
	<meta name="HandheldFriendly" content="true" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
    <title>云沃客</title>
<script src="https://hm.baidu.com/hm.js?4521e064cb11bf19250b154e9dd30cf9"></script>
    <link href="css/webapp.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header class="m_header">
		<a href="mobile.html" class="logo"></a>
		<span class="menu" id="menu"></span>
	</header>
	<p style="height: 48px;"></p>
	<div class="banner">
		<img src="img/bg06.png" width="100%" />
		<div class="m_about">
			<h6>公司简介</h6>
			<p style="margin-top: 5px; text-align: left;">上海厚端信息科技有限公司是一家专门从事APP开发、游戏开发、网站建设以及UI设计的公司，成立于2013年成立，截止2016年初，企业内员工近200人。作为云族佳科技有限公司的一员，坚持集团“通过互联网服务提升人类生活品质”的理念，以“为追求完美的行业解决方案”为目标，布局移动互联网，以雄厚的技术实力为依托，创建了互联网设计和开发的专业平台及互联网项目开发团队。期间曾为通用、NIKE 、中国农业银行、太平洋保险等众多世界500强企业及政府部门提供专业服务，深获合作伙伴的信任及业内好评。</p>
			<img src="img/bg07.png" width="100%" style="margin-top: 40px;" />
		</div>
	</div>
	<div class="m_itembox">
		<h2>工作机会</h2>
		<p class="desc">我们不离不弃，我们不遗余力</p>
		<div class="m_list9">
			<dl>
				<dt>北京</dt>
				<dd>
					<p>网页设计师<br>Flash设计师<br>App设计师<br>UI设计师<br>平面设计师<br>美术设计师<br>广告设计师</p>
					<a href="" class="more">+more...</a>
				</dd>
			</dl>
			<dl>
				<dt>上海</dt>
				<dd>
					<p>网页设计师<br>Flash设计师<br>App设计师<br>UI设计师<br>平面设计师<br>美术设计师<br>广告设计师</p>
					<a href="" class="more">+more...</a>
				</dd>
			</dl>
			<dl>
				<dt>深圳</dt>
				<dd>
					<p>网页设计师<br>Flash设计师<br>App设计师<br>UI设计师<br>平面设计师<br>美术设计师<br>广告设计师</p>
					<a href="" class="more">+more...</a>
				</dd>
			</dl>
		</div>
	</div>
	<img src="img/map.jpg.png" width="100%" style="margin-top: 40px;" />
	<div class="m_footer">
		<p class="tel">021-60343583</p>
		<p class="address">公司地址：上海市浦东新区张江路368号22号楼1003室</p>
		<p>邮政编码：200097</p>
		<p class="copyright">沪ICP备17005877号  |  Copyright© 2015 上海厚端信息科技有限公司版权所有</p>
	</div>
	<div class="m_menu">
		<a href="mobile.html">首页</a>
		<a href="m_ue.html">交互</a>
		<a href="m_service.html">服务</a>
		<a href="m_case.html">案例</a>
		<a href="m_about.html" class="current">关于</a>
	</div>
	<script src="js/zepto.js"></script>
	<script src="js/webapp.js"></script>
</body>
</html>
