<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="misapplication-tap-highlight" content="no" />
	<meta name="HandheldFriendly" content="true" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
    <title>云沃客</title>
<script src="https://hm.baidu.com/hm.js?4521e064cb11bf19250b154e9dd30cf9"></script>
    <link href="/views/css/webapp.css" rel="stylesheet" type="text/css" />
    <link href="/views/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <style>
    	.float-pagination .swiper-pagination-bullet { background-color: #ccc;}
    	.float-pagination .swiper-pagination-bullet-active { background-color: #ffd737;}
    </style>
</head>
<body>
	<header class="m_header">
		<a href="mobile.html" class="logo"></a>
		<span class="menu" id="menu"></span>
	</header>
	<p style="height: 48px;"></p>
	<div class="banner">
		<img src="/views/img/m_4.png" width="100%" />
		<a href="yuyue.html" class="m_yuyue">
			<i>免费预约</i>
		</a>
	</div>
	<div class="m_itembox bg1">
		<h2>UE产品的必要性</h2>
		<p class="desc">根据您的需求和行业特性，进行定制化的交互设计</p>
		<img src="/views/img/m_5.png" width="100%" style="margin-top: 40px;" />
		<p class="text">一直是我们所追求的用户体验标准</p>
	</div>
	<div class="m_itembox">
		<h2>完善的解决方案</h2>
		<p class="desc">包括金融，体育，直播，电商，O2O，分销等多套成熟架构</p>
		<div class="m_list3">
			<dl>
				<dt>
					<img src="/views/img/i_05.png" width="32" />
				</dt>
				<dd>
					<h3>应用软件解决方案</h3>
					<p>我们提供Windows及Mac等多操作系统多平台的应用软件交互设计、视觉设计、应用端开发服务</p>
					<p>从用户研究、需求沟通、草图方案、原型制图、视觉设计、定制开发、软件测试维护等全方位的为客户提供最有效的解决方案</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="/views/img/i_06.png" width="32" />
				</dt>
				<dd>
					<h3>网站及网络产品解决方案</h3>
					<p>根据用户的需求、市场状况、企业情况等进行综合分析可用性的Web解决方案，有效提升企业形象及品牌的知名度</p>
					<p>从产品交互原型设计、视觉设计、HTML5页面开发、功能定制开发等高品质、一体化流程的网站建设服务</p>
				</dd>
			</dl>
			<dl class="last">
				<dt>
					<img src="/views/img/i_07.png" width="27" />
				</dt>
				<dd>
					<h3>移动应用产品解决方案</h3>
					<p>iOS/Android APP交互设计 视觉设计 功能定制开发、微信公众平台，基于HTML5的手机站 交互设计 视觉设计功能定制开发</p>
				</dd>
			</dl>
		</div>
	</div>
	<div class="m_itembox bg1">
		<h2>专业、用心、有态度</h2>
		<div class="flash swiper-container" id="flash">
			<article class="swiper-wrapper">
		        <figure class="swiper-slide">
		            <img src="/views/img/ue-m4-pic1_03.jpg" width="80%" />
		        </figure>
		        <figure class="swiper-slide">
		            <img src="/views/img/ue-m4-pic2_03.jpg" width="80%" />
		        </figure>
		        <figure class="swiper-slide">
		            <img src="/views/img/ue-m4-pic3_03.jpg" width="80%" />
		        </figure>
		    </article>
		    <nav class="swiper-pagination float-pagination" style="padding-bottom: 0;" id="flash-pagination"></nav>
		</div>
	</div>
	<div class="m_itembox bg2">
		<h2>UE设计工序</h2>
		<div class="m_list4">
			<dl style="background-color: #abd3ff;">
				<dt>Step1</dt>
				<dd>通过客户、业务等渠道获取需求文档等</dd>
			</dl>
			<dl style="background-color: #93c6ff;">
				<dt>Step2</dt>
				<dd>对需求整理分析使需求具体化，业务化</dd>
			</dl>
			<dl style="background-color: #7fbcfe;">
				<dt>Step3</dt>
				<dd>梳理需求，演示业务流程</dd>
			</dl>
			<dl style="background-color: #67a9f2;">
				<dt>Step4</dt>
				<dd>需求确认</dd>
			</dl>
			<dl style="background-color: #4d97ea;">
				<dt>Step5</dt>
				<dd>启动项目，制定计划</dd>
			</dl>
			<dl style="background-color: #4594ec;">
				<dt>Step6</dt>
				<dd>梳理业务功能总结规划</dd>
			</dl>
			<dl style="background-color: #3b90ee;">
				<dt>Step7</dt>
				<dd>做图并整理</dd>
			</dl>
			<dl style="background-color: #3e85d5;">
				<dt>Step8</dt>
				<dd>确认相关模块图完成流程草稿</dd>
			</dl>
			<dl style="background-color: #337bcc;">
				<dt>Step9</dt>
				<dd>交互场景模拟制作交互产品</dd>
			</dl>
			<dl style="background-color: #2472c9;">
				<dt>Step10</dt>
				<dd>模拟用户测试并进一步测试优化流程功能</dd>
			</dl>
			<dl style="background-color: #1668c4;">
				<dt>Step11</dt>
				<dd>设计产品原型制作成果</dd>
			</dl>
			<dl style="background-color: #095fbf;">
				<dt>Step12</dt>
				<dd>经客户确认，整理并交付所有原稿件</dd>
			</dl>
		</div>
	</div>
	<div class="m_itembox">
		<h2>设计服务流程</h2>
		<div class="m_list5">
			<dl style="background-image: url('/views/img/num1.png');">
				<dt>第一步</dt>
				<dd>预约成功</dd>
			</dl>
			<dl style="background-image: url('/views/img/num2.png');">
				<dt>第二步</dt>
				<dd>需求确认</dd>
			</dl>
			<dl style="background-image: url('/views/img/num3.png');">
				<dt>第三步</dt>
				<dd>签订合同<br>预付款</dd>
			</dl>
			<dl style="background-image: url('/views/img/num4.png');">
				<dt>第四步</dt>
				<dd>项目开发</dd>
			</dl>
			<dl style="background-image: url('/views/img/num5.png');">
				<dt>第五步</dt>
				<dd>测试完善</dd>
			</dl>
			<dl style="background-image: url('/views/img/num6.png');">
				<dt>第六步</dt>
				<dd>客户验收<br>付尾款</dd>
			</dl>
			<dl style="background-image: url('/views/img/num7.png');">
				<dt>第七步</dt>
				<dd>交付源码</dd>
			</dl>
		</div>
	</div>
	<div class="m_footer">
		<p class="tel">021-60343583</p>
		<p class="address">公司地址：上海市浦东新区张江路368号22号楼1003室</p>
		<p>邮政编码：200097</p>
		<p class="copyright">沪ICP备17005877号  |  Copyright© 2015 上海厚端信息科技有限公司版权所有</p>
	</div>
	<div class="m_menu">
		<a href="mobile.html">首页</a>
		<a href="m_ue.html" class="current">交互</a>
		<a href="m_service.html">服务</a>
		<a href="m_case.html">案例</a>
		<a href="m_about.html">关于</a>
	</div>
	<script src="/views/js/zepto.js"></script>
	<script src="/views/js/webapp.js"></script>
	<script src="/views/js/swiper.js"></script>
	<script>
		var flash = new Swiper('#flash', {
			pagination: '#flash-pagination',
			loop: true,
			autoplay: 5000,
			autoplayDisableOnInteraction: false
		})
	</script>
</body>
</html>
