<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国领先的企业互联网服务商</title>
	<meta name="description" content="重新定义互联网产品设计与开发 UE交互设计 UI界面设计 APP开发 网站开发 小程序开发" />
	<meta name="Keywords" content="设计,UI设计,UE设计,互联网产品设计,APP设计,原型设计,交互设计,用户研究,需求分析,微信活动,APP开发,网站开发,互联网开发,移动互联网,互联网+,设计外包,网站设计,微信小程序开发,微信应用号" />
    <link href="css/webapp.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
		<div class="w1000">
			<a href="index" class="logo"></a>
			<div class="nav">
				<a href="index">首页</a>
				<a href="ue">交互</a>
				<a href="service" class="current">服务</a>
				<a href="case">案例</a>
				<a href="about">关于</a>
			</div>
		</div>
	</div>
	<p style="height: 80px;"></p>
	<div class="banner">
		<img src="img/banner_03.png" width="100%" />
		<span onclick="app.modal.open('modal')" class="yuyue">
			<i>免费预约</i>
		</span>
	</div>
	<div class="itembox bg1" style="padding-bottom: 50px;">
		<h2>互联网将连接一切</h2>
		<p class="desc">数据将我们变得更理性，智能应用将生活变得便捷</p>
		<div class="list6 w1000">
			<dl>
				<dt>web</dt>
				<dd>
					<span>-活动页面设计</span>
					<span>-网站设计</span>
					<span>-网站H5动画</span>
					<span>-网站制作</span>
					<span>-banner设计</span>
					<span>-功能开发</span>
				</dd>
			</dl>
			<dl>
				<dt>APP（Android、IOS）</dt>
				<dd>
					<span>-APP原型设计</span>
					<span>-Andorid开发</span>
					<span>-APP界面设计</span>
					<span>-ios开发</span>
					<span>-第三方接口开发</span>
					<span>-H5制作</span>
				</dd>
			</dl>
			<dl>
				<dt>UI</dt>
				<dd>
					<span>-软件及系统界面设计</span>
					<span>-原创图标设计</span>
					<span>-数据展示界面设计</span>
					<span>-用户体验设计</span>
					<span>-高保真交互设计</span>
					<span>-原型设计</span>
				</dd>
			</dl>
			<dl>
				<dt>微信</dt>
				<dd>
					<span>-活动策划</span>
					<span>-公众号</span>
					<span>-视觉创意</span>
					<span>-数据追踪</span>
					<span>-交互设计</span>
					<span>-小程序</span>
				</dd>
			</dl>
			<dl>
				<dt>游戏</dt>
				<dd>
					<span>-3G前端应用</span>
					<span>-Windows Mobile开发</span>
					<span>-JAVA软件应用</span>
					<span>-NET Framwork</span>
					<span>-Android开发</span>
					<span>-Java虚拟机</span>
				</dd>
			</dl>
			<dl>
				<dt>微网站</dt>
				<dd>
					<span>-H5制作</span>
					<span>-绑定微网站</span>
					<span>-网站程序建设</span>
					<span>-域名备案</span>
					<span>-公众号</span>
					<span>-网站展示</span>
				</dd>
			</dl>
		</div>
	</div>
	<div class="itembox" style="padding-bottom: 150px;">
		<h2>超一流的服务保障</h2>
		<p class="desc">资深项目经理全程跟进，为您的项目保驾护航</p>
		<div class="list7 w1000">
			<ul>
				<li>任务在线协同<br>管理系统</li>
				<li>项目流程监控与<br>监理服务</li>
				<li>项目pm<br>咨询项目</li>
				<li>远程可视化开发<br>测试理念</li>
				<li>代码远程共享<br>协作系统</li>
			</ul>
		</div>
	</div>
	<img src="img/bg03.png" width="100%" />
	<div class="itembox bg2">
		<h2>优秀的服务团队</h2>
		<div class="cont1">
			<p>专业从事PC软件开发，androidios手机平台软件开发，网页设计的计算机软件</p>
			<p>我们秉承 "适宜方案，先进技术，优质品质，合理价格" 的方针</p>
			<p>为企业客户提供 "一站式软件信息化解决方案" </p>
			<p>涉及各行业的软件开发及智能手机平台软件开发，网站网页设计美工等专业</p>
			<p>我们全心全意的为用户提供售前，售中，售后的服务</p>
			<p>服务的过程就是满足用户的需求，完善整体解决方案的过程</p>
			<p>是实现客户利益最大化的过程</p>
		</div>
	</div>
	<div class="itembox">
		<h2>累计超过50家品牌用户</h2>
		<p class="desc">资深项目经理全程跟进，为您的项目保驾护航</p>
		<img src="img/links.jpg" class="links" />
	</div>
	<div class="itembox bg1">
		<h2>开发服务流程</h2>
		<div class="list8 w1000" style="width: 1060px;">
			<ul>
				<li class="current">预约<br>成功</li>
				<li>需求<br>确认</li>
				<li>签订<br>合同</li>
				<li>项目<br>开发</li>
				<li>测试<br>完善</li>
				<li>客户<br>验收</li>
				<li>支付<br>源码</li>
			</ul>
		</div>
	</div>
<div class="footer" id='footer'>
        </div>
        <script>
                function XHR() {
                var xhr;
                try {xhr = new XMLHttpRequest();}
                catch(e) {
                        var IEXHRVers =["Msxml3.XMLHTTP","Msxml2.XMLHTTP","Microsoft.XMLHTTP"];
                        for (var i=0,len=IEXHRVers.length;i< len;i++) {
                                try {xhr = new ActiveXObject(IEXHRVers[i]);}
                                catch(e) {continue;}
                        }
                }
                return xhr;
        }var xhr = XHR();
xhr.open("get","/footer.html",true);

xhr.onreadystatechange = callback;
function callback() {
                if (xhr.readyState == 4  && xhr.status ==200) {
                        document.getElementById('footer').innerHTML = xhr.responseText;
                }
        }

xhr.send(null);
        </script>	
<div class="mask" id="modal">
		<div class="content clearfix">
			<span class="close" onclick="app.modal.close('modal')"></span>
			<h3>填写相关信息</h3>
			<ul>
				<li>
					<input type="text" id="nickname" class="inputbox" maxlength="20" placeholder="输入您的昵称" />
				</li>
				<li>
					<input type="text" id="cellPhone" class="inputbox" maxlength="11" placeholder="输入您的手机号码" />
				</li>
				<li>
					<select class="inputbox selectbox" id="business">
						<option value="0">请选择产品所属行业</option>
		                <option value="电子商务">电子商务</option>
		                <option value="金融">金融</option>
		                <option value="制造业">制造业</option>
		                <option value="医疗">医疗</option>
		                <option value="教育">教育</option>
		                <option value="文化娱乐">文化娱乐</option>
		                <option value="旅游">旅游</option>
		                <option value="生活服务">生活服务</option>
		                <option value="其他（企业服务等）">其他（企业服务等）</option>
					</select>
				</li>
			</ul>
			<h3>请选择您需要的产品类型</h3>
			<div class="checkbox" id="projectType">
				<span class="current">APP</span>
				<span>网站</span>
				<span>微信</span>
				<span>其他</span>
			</div>
			<textarea class="areatext" id="comment" placeholder="备注：如果您有其他要求或者备注说明可在这里告诉我们哦～"></textarea>
			<span class="btn" onclick="app.submitOrder('pc')">立即预约</span>
		</div>
	</div>
	<script src="js/zepto.js"></script>
	<script src="js/webapp.js"></script>
</body>
</html>
