<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国领先的企业互联网服务商</title>
	<meta name="description" content="重新定义互联网产品设计与开发 UE交互设计 UI界面设计 APP开发 网站开发 小程序开发" />
	<meta name="Keywords" content="设计,UI设计,UE设计,互联网产品设计,APP设计,原型设计,交互设计,用户研究,需求分析,微信活动,APP开发,网站开发,互联网开发,移动互联网,互联网+,设计外包,网站设计,微信小程序开发,微信应用号" />
    <link href="css/webapp.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
    <style>
    	.float-pagination .swiper-pagination-bullet { background-color: #ccc;}
    	.float-pagination .swiper-pagination-bullet-active { background-color: #ffd737;}
    </style>
</head>
<body>
	<div class="header">
		<div class="w1000">
			<a href="index" class="logo"></a>
			<div class="nav">
				<a href="index">首页</a>
				<a href="ue" class="current">交互</a>
				<a href="service">服务</a>
				<a href="case">案例</a>
				<a href="about">关于</a>
			</div>
		</div>
	</div>
	<p style="height: 80px;"></p>
	<div class="banner">
		<img src="img/banner_02.jpg" width="100%" />
		<span onclick="app.modal.open('modal')" class="yuyue" style="margin-left: -35%; bottom: 25%;">
			<i>免费预约</i>
		</span>
	</div>
	
	<div class="itembox bg1" style="padding-bottom: 50px;">
		<h2>UE产品的必要性</h2>
		<p class="desc">根据您的需求和行业特性，进行定制化的交互设计</p>
		<img src="img/bg01.png" style="margin-top: 38px;" />
		<p class="text">一直是我们所追求的用户体验标准</p>
	</div>
	
	<div class="itembox">
		<h2>完善的解决方案</h2>
		<p class="desc">包括金融，体育，直播，电商，O2O，分销等多套成熟架构</p>
		<div class="list3 w1000">
			<dl>
				<dt>
					<img src="img/i_05.png" />
				</dt>
				<dd>
					<h3>应用软件解决方案</h3>
					<p>我们提供Windows及Mac等多操作系统多平台的应用软件交互设计、视觉设计、应用端开发服务</p>
					<p>从用户研究、需求沟通、草图方案、原型制图、视觉设计、定制开发、软件测试维护等全方位的为客户提供最有效的解决方案</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="img/i_06.png" />
				</dt>
				<dd>
					<h3>网站及网络产品解决方案</h3>
					<p>根据用户的需求、市场状况、企业情况等进行综合分析可用性的Web解决方案，有效提升企业形象及品牌的知名度</p>
					<p>从产品交互原型设计、视觉设计、HTML5页面开发、功能定制开发等高品质、一体化流程的网站建设服务</p>
				</dd>
			</dl>
			<dl class="last">
				<dt>
					<img src="img/i_07.png" />
				</dt>
				<dd>
					<h3>移动应用产品解决方案</h3>
					<p>iOS/Android APP交互设计 视觉设计 功能定制开发、微信公众平台，基于HTML5的手机站 交互设计 视觉设计功能定制开发</p>
				</dd>
			</dl>
		</div>
	</div>
	
	<div class="itembox bg1" style="padding-bottom: 80px;">
		<h2>专业、用心、有态度</h2>
		<section class="swiper-container" style="margin-top: 30px;" id="flash">
			<article class="swiper-wrapper">
		        <figure class="swiper-slide">
		            <img src="img/ue-m4-pic1_03.jpg" />
		        </figure>
		        <figure class="swiper-slide">
		            <img src="img/ue-m4-pic2_03.jpg" />
		        </figure>
		        <figure class="swiper-slide">
		            <img src="img/ue-m4-pic3_03.jpg" />
		        </figure>
		    </article>
		    <nav class="swiper-pagination float-pagination" style="padding-bottom: 0;" id="flash-pagination"></nav>
		</section>
	</div>
	
	<div class="itembox bg2">
		<h2>UE设计工序</h2>
		<div class="list4 w1000" style="padding: 20px 0 60px;">
			<dl style="background-color: #abd3ff;">
				<h2 class="ico" style="background-image: url('img/ico1.png');"></h2>
				<article class="con">
					<dt>Step1</dt>
					<dd>通过客户、业务等渠道获取需求文档等</dd>
				</article>
			</dl>
			<dl style="background-color: #93c6ff;">
				<h2 class="ico" style="background-image: url('img/ico2.png');"></h2>
				<article class="con">
					<dt>Step2</dt>
					<dd>对需求整理分析使需求具体化，业务化</dd>
				</article>
			</dl>
			<dl style="background-color: #7fbcfe;">
				<h2 class="ico" style="background-image: url('img/ico3.png');"></h2>
				<article class="con">
					<dt>Step3</dt>
					<dd>梳理需求，演示业务流程</dd>
				</article>
			</dl>
			<dl style="background-color: #67a9f2;">
				<h2 class="ico" style="background-image: url('img/ico4.png');"></h2>
				<article class="con">
					<dt>Step4</dt>
					<dd>需求确认</dd>
				</article>
			</dl>
			<dl style="background-color: #4d97ea;">
				<h2 class="ico" style="background-image: url('img/ico5.png');"></h2>
				<article class="con">
					<dt>Step5</dt>
					<dd>启动项目，制定计划</dd>
				</article>
			</dl>
			<dl style="background-color: #4594ec;">
				<h2 class="ico" style="background-image: url('img/ico6.png');"></h2>
				<article class="con">
					<dt>Step6</dt>
					<dd>梳理业务功能总结规划</dd>
				</article>
			</dl>
			<dl style="background-color: #3b90ee;">
				<h2 class="ico" style="background-image: url('img/ico7.png');"></h2>
				<article class="con">
					<dt>Step7</dt>
					<dd>做图并整理</dd>
				</article>
			</dl>
			<dl style="background-color: #3e85d5;">
				<h2 class="ico" style="background-image: url('img/ico8.png');"></h2>
				<article class="con">
					<dt>Step8</dt>
					<dd>确认相关模块图完成流程草稿</dd>
				</article>
			</dl>
			<dl style="background-color: #337bcc;">
				<h2 class="ico" style="background-image: url('img/ico9.png');"></h2>
				<article class="con">
					<dt>Step9</dt>
					<dd>交互场景模拟制作交互产品</dd>
				</article>
			</dl>
			<dl style="background-color: #2472c9;">
				<h2 class="ico" style="background-image: url('img/ico10.png');"></h2>
				<article class="con">
					<dt>Step10</dt>
					<dd>模拟用户测试并进一步测试优化流程功能</dd>
				</article>
			</dl>
			<dl style="background-color: #1668c4;">
				<h2 class="ico" style="background-image: url('img/ico11.png');"></h2>
				<article class="con">
					<dt>Step11</dt>
					<dd>设计产品原型制作成果</dd>
				</article>
			</dl>
			<dl style="background-color: #095fbf;">
				<h2 class="ico" style="background-image: url('img/ico12.png');"></h2>
				<article class="con">
					<dt>Step12</dt>
					<dd>经客户确认，整理并交付所有原稿件</dd>
				</article>
			</dl>
		</div>
	</div>
	
	<div class="itembox">
		<h2>设计服务流程</h2>
		<div class="list5 w1000">
			<dl>
				<dt>第一步</dt>
				<dd>预约成功</dd>
			</dl>
			<dl>
				<dt>第二步</dt>
				<dd>需求确认</dd>
			</dl>
			<dl>
				<dt>第三步</dt>
				<dd>签订合同<br>预付款</dd>
			</dl>
			<dl>
				<dt>第四步</dt>
				<dd>项目开发</dd>
			</dl>
			<dl>
				<dt>第五步</dt>
				<dd>测试完善</dd>
			</dl>
			<dl>
				<dt>第六步</dt>
				<dd>客户验收<br>付尾款</dd>
			</dl>
			<dl>
				<dt>第七步</dt>
				<dd>交付源码</dd>
			</dl>
		</div>
		<img src="img/line-bottom.png" style="margin-top: 80px;" />
	</div>
	
<div class="footer" id='footer'>
        </div>
        <script>
                /*function XHR() {
                var xhr;
                try {xhr = new XMLHttpRequest();}
                catch(e) {
                        var IEXHRVers =["Msxml3.XMLHTTP","Msxml2.XMLHTTP","Microsoft.XMLHTTP"];
                        for (var i=0,len=IEXHRVers.length;i< len;i++) {
                                try {xhr = new ActiveXObject(IEXHRVers[i]);}
                                catch(e) {continue;}
                        }
                }
                return xhr;
        }var xhr = XHR();
xhr.open("get","/footer.html",true);

xhr.onreadystatechange = callback;
function callback() {
                if (xhr.readyState == 4  && xhr.status ==200) {
                        document.getElementById('footer').innerHTML = xhr.responseText;
                }
        }

xhr.send(null);*/
        </script>	
	<div class="mask" id="modal">
		<div class="content clearfix">
			<span class="close" onclick="app.modal.close('modal')"></span>
			<h3>填写相关信息</h3>
			<ul>
				<li>
					<input type="text" id="nickname" class="inputbox" maxlength="20" placeholder="输入您的昵称" />
				</li>
				<li>
					<input type="text" id="cellPhone" class="inputbox" maxlength="11" placeholder="输入您的手机号码" />
				</li>
				<li>
					<select class="inputbox selectbox" id="business">
						<option value="0">请选择产品所属行业</option>
		                <option value="电子商务">电子商务</option>
		                <option value="金融">金融</option>
		                <option value="制造业">制造业</option>
		                <option value="医疗">医疗</option>
		                <option value="教育">教育</option>
		                <option value="文化娱乐">文化娱乐</option>
		                <option value="旅游">旅游</option>
		                <option value="生活服务">生活服务</option>
		                <option value="其他（企业服务等）">其他（企业服务等）</option>
					</select>
				</li>
			</ul>
			<h3>请选择您需要的产品类型</h3>
			<div class="checkbox" id="projectType">
				<span class="current">APP</span>
				<span>网站</span>
				<span>微信</span>
				<span>其他</span>
			</div>
			<textarea class="areatext" id="comment" placeholder="备注：如果您有其他要求或者备注说明可在这里告诉我们哦～"></textarea>
			<span class="btn" onclick="app.submitOrder('pc')">立即预约</span>
		</div>
	</div>
	<script src="js/zepto.js"></script>
	<script src="js/webapp.js"></script>
	<script src="js/swiper.js"></script>
	<script>
		var flash = new Swiper('#flash', {
			pagination: '#flash-pagination',
			loop: true,
			autoplay: 5000,
			autoplayDisableOnInteraction: false
		})
	</script>
</body>
</html>
